{% load static %}

<nav class="sb-topnav navbar navbar-expand navbar-dark">
  <!-- Navbar Brand-->
  <a class="gradient navbar-brand ps-3 game-room-title" href="{% url 'home' %}">Game Room</a>
  <!-- Sidebar Toggle-->
  <button class="d-lg-none btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>

  <!-- Navbar Search-->
  <form method="GET" action="{% url 'home' %}" class="d-none d-md-inline-block form-inline ms-auto me-0 me-md-3 my-2 my-md-0">
      <div class="game-card input-group rounded-pill">
          <input class="form-control rounded-pill" type="text" name="q" placeholder="Search for..."/>
      </div>
  </form>
  <!-- Navbar-->
  <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
      <li class="nav-item dropdown">
        
          <div class="avatar avatar--small">
            {% if request.user.is_authenticated %}
            <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{{user.avatar.url}}" /></a>
            {% else %}
            <a class="nav-link" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img src="{% static 'images/default_avatar.png' %}" /></a>
            {% endif %}
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
              {% if request.user.is_authenticated %}
              <li><a class="dropdown-item text-success" href="{% url 'user-profile' request.user.id %}">Profile</a></li>
              <li><a class="dropdown-item text-success" href="{% url 'logout' %}">Logout</a></li>
              {% else %}
              <li><a class="dropdown-item text-success" href="{% url 'login' %}">Login</a></li>
              <li><a class="dropdown-item text-success" href="{% url 'register' %}">Register</a></li>
              {% endif %}
          </ul>
        </div>
      </li>
  </ul>
</nav>
