.fixed-top, .sb-nav-fixed #layoutSidenav #layoutSidenav_nav, .sb-nav-fixed .sb-topnav {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
  }

html,
body {
  height: 100%;
}


#layoutSidenav #layoutSidenav_nav {
  flex-basis: 225px;
  flex-shrink: 0;
  transition: transform 0.15s ease-in-out;
  z-index: 1038;
  transform: translateX(-225px);
}
#layoutSidenav #layoutSidenav_content {
  position: relative;
  flex-direction: column;
  justify-content: space-between;
  min-width: 0;
  flex-grow: 1;
  min-height: calc(100vh - 56px);
  margin-left: -225px;
}

.sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
  transform: translateX(0);
}
.sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #000;
  z-index: 1037;
  opacity: 0.5;
  transition: opacity 0.3s ease-in-out;
}

@media (min-width: 992px) {
  #layoutSidenav #layoutSidenav_nav {
    transform: translateX(0);
  }
  #layoutSidenav #layoutSidenav_content {
    margin-left: 0;
    transition: margin 0.15s ease-in-out;
  }

  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_nav {
    transform: translateX(-225px);
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content {
    margin-left: -225px;
  }
  .sb-sidenav-toggled #layoutSidenav #layoutSidenav_content:before {
    display: none;
  }
}
.sb-nav-fixed .sb-topnav {
  z-index: 1039;
  background-color:#0d111725;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav {
  width: 225px;
  height: 100vh;
  z-index: 1038;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav {
  padding-top: 56px;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_nav .sb-sidenav .sb-sidenav-menu {
  overflow-y: auto;
}
.sb-nav-fixed #layoutSidenav #layoutSidenav_content {
  padding-left: 225px;
  top: 56px;
}

#layoutError {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#layoutError #layoutError_content {
  min-width: 0;
  flex-grow: 1;
}
#layoutError #layoutError_footer {
  min-width: 0;
}

.img-error {
  max-width: 20rem;
}

.nav .nav-link .sb-nav-link-icon,
.sb-sidenav-menu .nav-link .sb-nav-link-icon {
  margin-right: 0.5rem;
}

.sb-topnav {
  padding-left: 0;
  height: 56px;
  z-index: 1039;
}
.sb-topnav .navbar-brand {
  width: 225px;
  margin: 0;
}
.sb-topnav.navbar-dark #sidebarToggle {
  color: rgba(255, 255, 255, 0.5);
}
.sb-topnav.navbar-light #sidebarToggle {
  color: #212529;
}

.sb-sidenav {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-wrap: nowrap;
  border-right: 1px solid rgb(77, 161, 103, 0.7);
}
.sb-sidenav .sb-sidenav-menu {
  flex-grow: 1;
  margin-top: -2.3rem;
}
.sb-sidenav .sb-sidenav-menu .nav {
  flex-direction: column;
  flex-wrap: nowrap;
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-heading {
  padding: 1.75rem 1rem 0.75rem;
  font-size: 0.75rem;
  font-weight: bold;
  text-transform: uppercase;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link {
  display: flex;
  align-items: center;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  position: relative;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-nav-link-icon {
  font-size: 0.9rem;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link .sb-sidenav-collapse-arrow {
  display: inline-block;
  margin-left: auto;
  transition: transform 0.15s ease;
}
.sb-sidenav .sb-sidenav-menu .nav .nav-link.collapsed .sb-sidenav-collapse-arrow {
  transform: rotate(-90deg);
}
.sb-sidenav .sb-sidenav-menu .nav .sb-sidenav-menu-nested {
  margin-left: 1.5rem;
  flex-direction: column;
}
.sb-sidenav .sb-sidenav-footer {
  padding: 0.75rem;
  flex-shrink: 0;
}

.sb-sidenav-dark {
  background-color: #0d1117;
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link {
  color: rgba(255, 255, 255, 0.5);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: rgba(255, 255, 255, 0.25);
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link:hover {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active {
  color: #fff;
}
.sb-sidenav-dark .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #fff;
}


.sb-sidenav-light {
  background-color: #f8f9fa;
  color: #212529;
}
.sb-sidenav-light .sb-sidenav-menu .sb-sidenav-menu-heading {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link {
  color: #212529;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-nav-link-icon {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link .sb-sidenav-collapse-arrow {
  color: #adb5bd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link:hover {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-menu .nav-link.active .sb-nav-link-icon {
  color: #0d6efd;
}
.sb-sidenav-light .sb-sidenav-footer {
  background-color: #e9ecef;
}

.bg-create-room {
  background-color: #343a40;
}

.bn633-hover {
  width: 90px;
  font-size: 14px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  height: 30px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn63-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: solid 1px;
}

.bn632-hover {
  width: 130px;
  font-size: 16px;
  font-weight: 500;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  height: 45px;
  text-align:center;
  border: none;
  background-size: 300% 100%;
  border-radius: 50px;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
}

.bn632-hover:hover, .bn633-hover:hover {
  background-position: 100% 0;
  moz-transition: all .4s ease-in-out;
  -o-transition: all .4s ease-in-out;
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  border: solid 1px;
}

.bn632-hover:focus {
  outline: none;
}

.bn632-hover.bn22, .bn633-hover.bn22 {
  background-image: linear-gradient(
    to right,
    #0ba360,
    #3cba92,
    #30dd8a,
    #2bb673
  );
  box-shadow: 0 3px 15px 0 rgba(23, 168, 108, 0.75);
}

.btn_home, .btn_edit, .link_host {
  text-decoration: none;
  color: #fff;
}

.btn_home:hover, .btn_edit:hover, hr {
  color: rgba(37, 247, 104, 0.534);
}


.btn_back_home {
  color: #fff;
  text-decoration: none;
}

.bg-home {
  background-color: rgb(77, 80, 87);
}

.bg-activity {
  background-color: rgb(40, 40, 40);
}

.bg-card {
  background-color: rgb(77, 161, 103);
}

.bg-card-head {
  background-color: rgb(33, 78, 54);
}

.bg-dark2 {
  background-color: #242629;
}


.game-card:hover {
  border-color: rgb(77, 161, 103, 0.7);
  box-shadow: 0px 0px 10px 1px rgba(5, 168, 87, 0.6);
}

.text-green {
  color: rgba(37, 247, 103, 0.9);
}


.link_host:hover {
  color: rgba(37, 247, 103, 0.9);
  font-weight: 500;
}


.sign-up {
  color: rgba(37, 247, 103, 0.9);
  animation: pulse 3s infinite;
}

@keyframes pulse {
	0% {
		color: rgba(5, 168, 87, 0.6);
	}

	70% {
		color:rgba(37, 247, 103, 0.9);
	}

	100% {
		color:rgba(37, 247, 103, 10.9);
	}
}

.form-control {
  color:white;
  border: 1px solid #198754;
  background-color:rgba(146, 143, 143, 0.178);
}

.form-control:focus {
  box-shadow: none;
  border-color: none;
  border: 1px solid #198754;
  background-color:rgba(146, 143, 143, 0.178);
  color: white;
  box-shadow: 0px 0px 10px 1px rgba(5, 168, 87, 0.6);
}

.avatar img {
  display: block;
  border-radius: 50%;
  object-fit: cover;
  object-position: center;
  margin-bottom: 5%;
}


.avatar.avatar--large img {
  display: block;
  width: 9rem;
  height: 9rem;
  border-radius: 50%;
}

.avatar.avatar--small img {
  display: block;
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}


.gradient {
  background: linear-gradient(28deg, rgb(30 80 24 / 29%) 0%, rgb(67 176 239 / 88%) 0%, rgb(115 255 249 / 65%) 32%, rgb(0 255 149) 79%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.activity-room-name {
  text-decoration: none;
}

.game-room-title {
  font-size: x-large;
  font-weight: 600;
}

.navbar-expand .navbar-nav .dropdown-menu {
  top: 74%;
  background-color: #0d1117;
}

.dropdown-item:hover {
  background-color: #282828d1;
}

.table, .table-color > thead > tr > th {
  border: 1px solid #424242 !important;
}

.table, .table-color > tbody > tr > td {
  border: 1px solid #424242 !important;
}

.table>:not(:first-child) {
  border-top: none !important;
}

.fa-edit, .fa-trash {
  margin-left: 1rem;
}

.fa-angle-left {
  margin-right: 1rem;
}
.page-item.active, .page-link {
  color: rgb(25,135,84) !important;
  background: #0d1117 !important;
}

.bg-transparent-chat {
  background-color:rgb(146 143 143 / 18%);
}

.fa-user {
  color: #1ba97bdb;
  font-size: 1.7em;
}

@media screen and (max-width: 576px) {
  .far, .fa-2x, .fa-user {
    color:#1ba97bdb;
    font-size: 1.2em;
  }
}

.room-font {
  color: olivedrab;
  font-family: 'Source Code Pro', monospace;
}

.room-host {
  text-decoration: none;
  color: olivedrab;
  font-family: 'Source Code Pro', monospace;
}

.room-host:hover {
  text-decoration: none;
  font-size: large;
  color: #61c324e8;
  font-family: 'Source Code Pro', monospace;
}

.side-nav-button {
  height: 6rem;
  background-color: transparent;
  margin-left: 14rem;
  position: absolute;
  top: 22rem;
  z-index: -1;
  width: 13%;
}

.side-nav-button-box-two {
  height: 6rem;
  background-color: #214031;
  width: 2%;
  top: 0rem;
  margin-left: -155%;
}

.side-nav-button-box-three {
  height: 4rem;
  background-color: #327c58;
  width: 1%;
  top: -5rem;
  margin-left: -67%;
}

.side-nav-button-box-three > .fa-angle-double-right {
  color: #198754;
  margin-top: 1.5rem;
  margin-left: 1vw;
  animation: pulse 4s alternate-reverse infinite;
}

.side-nav-button-box-three > .fa-angle-double-left {
  color: #198754;
  margin-top: 1.5rem;
  margin-left: 1vw;
  animation: pulse 4s alternate-reverse infinite;
}


.side-icon-box {
  background-color: red;
  height: 2rem;
  width: 2rem;
  top: 3rem;
  position: absolute;
}


.btn-check:focus+.btn, .btn:focus {
  outline: 0;
  box-shadow: 0 0 0 0.1rem rgb(30 172 115) !important;
}

.sidebar-title {
  margin-left: 1rem;
  margin-top: -0.9rem;
}

.git-btn {
  color: mediumspringgreen;
}

.git-btn:hover {
  border-color: #7dffc0cf;
  color: mediumspringgreen;
}