<div class="col-xl-4">
    <div class="bg-dark text-light card mb-4">
        {% if page == 'room' %}
        <h3 class="text-center">Room Activity</h3>
        {% else %}
        <h3 class="text-center">Activity</h3>
        {% endif %}
        <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            Latest Activity
        </div>
            <div class="bg-dark card">
                <div class="card-header">
                    <div class="card-body">
                        
                        <div class="row">
                            {% for message in room_messages %}
                            <div class="bg-dark card border-success mb-3">
                                <div class="card-header bg-dark border-success">
                                    <h5>{{message.room}}</h5>
                                </div>
                                <div class="card-body text-success">
                                  <p class="card-text">{{message.body}}</p>
                                </div>
                                <div class="card-footer bg-dark border-success">
                                    <p>@<a class="link_host" href="{% url 'user-profile' message.user.id %}">{{message.room.host}}</a></p>
                                    <p>Replied: {{message.created|timesince}} ago.</p>
                                    <div class=""><a class="btn_edit" href="{% url 'delete-message' message.id %}">Delete Message <i class="fa fa-trash text-secondary"></i><hr></a></div>
                                </div>
                              </div>
                             {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>