<div class="col-xl-4">
    <div class="bg-dark text-light card mb-4">
        {% if page == 'room' %}
        <h3 class="text-center">Room Activity</h3>
        {% else %}
        <h3 class="text-center">Activity</h3>
        {% endif %}
        <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            Latest Activity
        </div>
        <div class="bg-dark card-body"><canvas id="myBarChart" width="100%" height="10"></canvas>
        
            <div class="bg-dark card">
                <div class="card-header">
                    <div class="card-body">
                        <div class="row">
                            {% for message in room_messages %}
                            <h5>{{message.room}}</h5>
                            <hr>
                            <p>{{message.user}}: {{message.body}}</p>
                            <p>Replied: {{message.created|timesince}} ago.</p>
                            <hr>
                             {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>