<div class="col-xl-4">
    <div class="bg-dark text-light card mb-4">
        {% if page == 'room' %}
        <h3 class="text-center">Room Activity</h3>
        {% else %}
        <h3 class="text-center">Activity</h3>
        {% endif %}
        <div class="card-header">
            <i class="fas fa-chart-bar me-1"></i>
            Latest Activity
        </div>
            <div class="bg-dark card">
                <div class="card-header">
                    <div class="card-body">
                        
                        <div class="row">
                            {% for message in room_messages %}
                            <div class="bg-dark card border-success mb-3">
                                <div class="card-header bg-dark border-success">
                                    <div class="row">
                                        <div class="col-lg-11">
                                            <p>@<a class="link_host" href="{% url 'user-profile' message.user.id %}">{{message.user}}</a></p>
                                        </div>
                                        {% if message.room.host == request.user %}
                                        <div class="col-lg-1">
                                            <div class=""><a class="btn_edit" href="{% url 'delete-message' message.id %}"><i class="fa fa-trash text-secondary"></i></a></div>
                                        </div>
                                        {% endif %}
                                    </div>
                                    <p>Replied to: <a class="text-success" href="{% url 'room' message.room.id %}">{{message.room}}</a></p>
                                    <p class="text-muted">{{message.created|timesince}} ago.</p>
                                </div>
                                <div class="card-body bg-activity text-white">
                                  <p class="card-text">"{{message.body}}"</p>
                                </div>
                                <div class="card-footer bg-dark border-success">
                                </div>
                                <br>
                              </div>
                             {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        
    </div>
</div>