{% extends 'main.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <br>
    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-xl-8 text-center">
                    <div class="bg-dark text-white card mb-4">
                        {% if page == 'delete-room' %}
                        <h3 class="text-center">Delete Room "{{obj}}"</h3>
                        {% else %}
                        <h3 class="text-center">Delete Message "{{obj}}"</h3>
                        {% endif %}
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div class=""><a class="btn_home" href="{% url 'home' %}"><i class="fas fa-angle-left"> </i> Home</a></div>
                            </div>
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="10"></canvas>
                            <div class="bg-dark card mb-4">
                                <div class="card-header">
                                    <hr>
                                        <div class="row">
                                            <div class="d-flex justify-content-center mb-3">
                                                <hr>
                                                <form method="POST" action="">
                                                    {% csrf_token %}
                                                    <p>Are you sure you want to delete <b>"{{obj}}?"</b></p>
                                                    <button type="submit" class="bn633-hover bn22">Confirm</button>
                                                    <hr>
                                                    <a class="btn_home" href="{{request.META.HTTP_REFERER}}">Go back</a>
                                                    <hr>
                                                </form>
                                                <hr>
                                            </div>
                                            <hr>
                                         </div>
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
                
                {% include 'base/activity_component.html' %}
            </div>

        </div>
    </main>
    <footer class="py-4 bg-dark mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Game Room 2022 - Created by Patrik Solis</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
