<div class="table-responsive">
    <table class="table bg-dark text-light table-color">
        <thead>
          <tr>
            <th scope="row">ID</th>
            <th scope="col">Name</th>
            <th scope="col">Genre</th>
            <th scope="col">Created</th>
          </tr>
        </thead>
        <tbody>
            {% for room in rooms %}
          <tr>
            <th scope="row"><span class="text-muted">#{{room.id}}</span></th>
            <td><a class ="text-success" href="{% url 'room' room.id %}">{{room.name}}</a></td>
            <td>{{room.topic.name}}</td>
            <td>{{room.created|timesince}} ago.</td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
</div>