{% extends 'main.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <br>
    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-xl-6 offset-lg-1 offset-sm-0">
                    <div class="bg-dark text-white mb-4">
                        <h2 class="text-center mb-4">Rooms</h2>
                        <div class="">
                            <i class="fas fa-dice-d6 me-1"></i>
                            <span>
                                Game Rooms Available: 
                                <span class="text-green">
                                    {{room_count}}
                                </span>
                            </span>
                        </div>
                        <div><canvas width="100%" height="35"></canvas>
                            {% if room_count > 0 %}
                            {% for room in page %}

                        
                            <div class="game-card {% cycle 'bg-dark' 'bg-dark2' %} card mb-4">
                                <div class="card-header">
                                    <div class="row">
                                        <div class="col-lg-11 col">
                                            <a class="btn_home" href="{%  url 'room' room.id %}">
                                                <h4 class="gradient pb-4 text-capitalize">{{room.name}}</h4>
                                            </a>
                                        </div>
                                       
                                        <div class="col-lg-1 col-2">
                                            {% if room.host == request.user %}
                                            <a class="btn_edit pe-2" href="{% url 'delete-room' room.id %}"><i class="fa fa-trash text-danger"></i></a>
                                            {% endif %}
                                        </div>
                                      
                                    </div>
                                    <div class="row">
                                        <div class="col">
                                        <p>Project Owner: <span class="mx-1"><a class="text-capitalize room-host" href="{% url 'user-profile' room.host.id %}">{{room.host}}</a></span></p>
                                        </div>
                                    </div>


                                    <span class="badge bg-success">{{room.topic}}</span>
                                    <hr>
                                    <div class="text-muted">
                                        Created: {{room.created|timesince}} ago
                                    </div>
                                </div>
                                
                                </div>
                                {% endfor %}

                                <!--Pagination-->
                                <nav>
                                    <ul class="pagination justify-content-center">
                                    {% if page.has_previous %}
                                    <li class="page-item">
                                        <a class="page-link" href="?page=1">First</a>
                                    </li>
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page.previous_page_number }}">Previous</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <a class="page-link" href="?page=1">First</a>
                                        </li>
                                        <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Previous</a>
                                        </li>
                                    {% endif %}

                                    {% if page.number|add:'-4' > 1 %}
                                        <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'-5' }}">&hellip;</a></li>
                                    {% endif %}

                                    {% for i in page.paginator.page_range %}
                                        {% if page.number == i %}
                                            <li class="page-item active" aria-current="page">
                                        <span class="page-link">
                                            {{ i }}
                                            <span class="sr-only">(current)</span>
                                        </span>
                                            </li>
                                        {% elif i > page.number|add:'-5' and i < page.number|add:'5' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if page.paginator.num_pages > page.number|add:'4' %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page.number|add:'5' }}">&hellip;</a></li>
                                    {% endif %}

                                    {% if page.has_next %}
                                        <li class="page-item">
                                        <a class="page-link" href="?page={{ page.next_page_number }}">Next</a>
                                        </li>

                                        <li class="page-item">
                                            <a class="page-link" href="?page={{page.paginator.num_pages}}">Last</a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1" aria-disabled="True">Next</a>
                                        </li>
                                        <li class="page-item disabled">
                                            <a class="page-link" href="?page={{page.paginator.num_pages}}">Last</a>
                                        </li>
                                    {% endif %}
                                </ul>
                                </nav>
                                {% else %}
                                <div class="card-body">
                                    <p>There are no rooms created at this moment.</p>
                                </div>
                                {% endif %}
                                <!--end of Pagination-->
                        </div>
                    </div>
                </div>
                
                {% include 'base/activity_component.html' %}
            </div>
              
        </div>
    </main>
                
</div>
{% endblock %}
