{% extends 'main.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <br>
    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-xl-8 text-center">
                    <div class="bg-dark text-white card mb-4">
                        <h3 class="text-center">Login</h3>
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div class=""><a class="btn_home" href="{% url 'home' %}"><i class="fas fa-angle-left"> </i> Home</a></div>
                                {% if room.host == request.user %}
                                <div class=""><a class="btn_edit" href="{% url 'update-room' room.id %}">Edit Room <i class="fa fa-edit"></i></a></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="10"></canvas>
                            <div class="bg-dark card mb-4">
                                <div class="card-header">
                                    <div class="col-lg-10">
                                        <h4></h4>
                                    </div>
                                        <span class="badge bg-success">{{room.topic}}</span>
                                        <hr>
                                        <div class="row">
                                            <div class="col-lg-4 offset-4 mb-3">
                                                {% if page == 'login' %}
                                                <form method="POST" action="">
                                                    {% csrf_token %}
                                                    
                                                    <div class="class-form-group p-3 text-warning">
                                                        {% if messages %}
                                                        {% for message in messages %}
                                                            <b>{{message}}</b>
                                                            <br>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>

                                                    <div class="form-group p-3">
                                                        <label class="mb-3">Username:</label>
                                                        <input type="text" class="form-control" name="username" placeholder="Enter Username">
                                                    </div>
                                                    <div class="form-group p-3">
                                                        <label class="mb-3">Password:</label>
                                                        <input type="password" class="form-control" name="password" placeholder="Enter Password">
                                                        <br>
                                                        <button type="submit" class="bn633-hover bn22">Login</button>
                                                        <hr>
                                                        <p>Havent signed up yet?</p>
                                                        <a class="sign-up" href="{% url 'register' %}">Sign up</a>
                                                    </div>
                                                </form>
                                                {% else %}
                                                <form method="POST" action="">
                                                    {% csrf_token %}
                                                    {{form.as_p}}
                                                    <input type="submit" value="Register" />
                                                </form>
                                                <p>Already signed up yet?</p>
                                                <a href="{% url 'login' %}">Login</a>

                                                {% endif %}
                                                
                                            </div>
                                            <div class="col-lg-4 mb-3 d-flex justify-content-center">
                                                {{room.description}}
                                            </div>
                                            <hr>
                                            
                                        </div> 
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
                
                {% include 'base/activity_component.html' %}
            </div>

        </div>
    </main>
    <footer class="py-4 bg-dark mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Game Room 2022 - Created by Patrik Solis</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
