{% extends 'main.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <br>
    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-xl-6 offset-lg-1 offset-sm-0">
                    <div class="bg-dark text-white card mb-4">
                        {% if page == 'login' %}
                        <h3 class="text-center">Login</h3>
                        {% else %}
                        <h3 class="text-center">Register</h3>
                        {% endif %}
                        <div class="card-header">
                            <div class="d-flex justify-content-between">
                                <div><a class="btn_home" href="{% url 'home' %}"><i class="fas fa-angle-left"> </i> Home</a></div>
                            </div>
                        </div>
                        <div>
                            <div class="bg-dark">
                                <div>
                                    <div class="col-lg-10">
                                        <h4></h4>
                                    </div>
                                        <span class="badge bg-success">{{room.topic}}</span>
                                        <div class="row">
                                            <div class="col-lg-4">
                                            </div>
                                            <div class="col-lg-4 text-center">
                                                {% if page == 'login' %}
                                                <form method="POST" action="">
                                                    {% csrf_token %}
                                                    
                                                    <div class="class-form-group text-warning">
                                                        {% if messages %}
                                                        {% for message in messages %}
                                                            <b>{{message}}</b>
                                                            <br>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>

                                                    <div class="form-group p-3">
                                                        <label class="mb-3">Username:</label>
                                                        <input type="text" class="text-center form-control" name="username" placeholder="Enter Username">
                                                    </div>
                                                    <div class="form-group p-3">
                                                        <label class="mb-3">Password:</label>
                                                        <input type="password" class="text-center form-control" name="password" placeholder="Enter Password">
                                                        <br>
                                                        <button type="submit" class="bn633-hover bn22 mb-5">Login</button>
                                                        <p>Havent signed up yet?</p>
                                                        <a class="sign-up" href="{% url 'register' %}">Sign up</a>
                                                    </div>
                                                </form>
                                                {% else %}
                                                <form method="POST" action="">
                                                    {% csrf_token %}
                                                    <div class="class-form-group text-warning">
                                                        {% if messages %}
                                                        {% for message in messages %}
                                                            <b>{{message}}</b>
                                                        {% endfor %}
                                                        {% endif %}
                                                    </div>

                                                    <div class="form-group p-3">
                                                        <label class="mb-3">Username:</label>
                                                        <input type="text" class="text-center form-control" name="username" placeholder="Enter Username">
                                                    </div>

                                                    <div class="form-group p-3">
                                                        <label class="mb-3">Email:</label>
                                                        <input type="text" class="text-center form-control" name="email" placeholder="Enter Email">
                                                    </div>

                                                    <div class="form-group p-3">
                                                        <label class="mb-3">Password:</label>
                                                        <input type="password" class="text-center form-control" name="password1" placeholder="Enter Password">
                                                    </div>

                                                    <div class="form-group p-3">
                                                        <label class="mb-3">Password confirmation:</label>
                                                        <input type="password" class="text-center form-control" name="password2" placeholder="Enter Password">
                                                    </div>
                                                    <div class="form-group p-3">
                                                        <button type="submit" class="bn633-hover bn22 mb-5">Register</button>
                                                    </div>
                                                </form>
                                                {% endif %}
                                            </div>
                                        </div> 
                                </div>
                            </div>
                    </div>
                    </div>
                </div>
                
                {% include 'base/activity_component.html' %}
            </div>

        </div>


    </main>
</div>
{% endblock %}
