{% extends 'main.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <br>
    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-xl-8">
                    <div class="bg-dark text-white card mb-4">
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="10"></canvas>
                                <div class="bg-dark card mb-4">
                                    <div class="card-header">
                                        <div class="row justify-content-md-center">
                                            <div class="col-md-auto">
                                                <div class="avatar avatar--large">
                                                    <img src="{{user.avatar.url}}" />
                                                  </div>
                                            </div>
                                          </div>
                                        <div class="text-center">
                                            <h4>{{user.username}}</h4>
                                            {% if request.user == user %}
                                            <a href="{% url 'update-profile' user.id %}">Edit Profile</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                        </div>
                        <div class="card-header">
                            <div class="col-lg-10">
                                <h4>{{room.name}}</h4>
                            </div>
                                <span class="badge bg-success">{{room.topic}}</span>
                                <div class="row">
                                    <div class="col-lg-4 mb-3">
                                        About: {{user.about_me}}
                                        
                                    </div>
                                </div>
                        </div>
                        <div class="card-header">
                            <div class="container bg-dark2 pt-3 text-white mt-5 rounded shadow">

                                <div class="row px-4">
                                  <div class="p-0 text-center">
                                    <h4>User Activity</h4>
                                    <div>
                                        <br>
                                        {% include 'base/feed_component.html' %}
                                    </div>
                                  </div>
                                  <br>
                                </div>
                              <br>
                              <br>
                              </div>
                        </div>
                    </div>
                </div>
                
                <div class="col-xl-4">
                    <div class="bg-dark text-light card mb-4">
                        <h3 class="text-center">Activity</h3>
                        <div class="card-header">
                            <i class="fas fa-chart-bar me-1"></i>
                            Latest Activity
                        </div>
                        <div class="bg-dark card-body"><canvas id="myBarChart" width="100%" height="10"></canvas>
                        
                            <div class="bg-secondary card">
                                <div class="card-header">
                                    <div class="card-body">
                                        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Eaque repellendus ea recusandae ut, iusto quidem culpa. Aspernatur possimus debitis saepe. Ea sequi, eius ipsa reprehenderit voluptate sapiente excepturi aspernatur doloribus incidunt mollitia exercitationem!</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer class="py-4 bg-dark mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Game Room 2022 - Created by Patrik Solis</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}

