{% extends 'main.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <br>
    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-xl-6 offset-lg-1 offset-sm-0">
                    <div class="bg-dark text-white card mb-4 pt-3">
                        <h3 class="text-center gradient text-capitalize">{{room.name}}</h3>
                        <div class="pt-2">
                            <div class="">
                                <div class="card-header">
                                    <div class="d-flex justify-content-between">
                                        <div><a class="btn_home" href="{% url 'home' %}"><i class="fas fa-angle-left"> </i> Home</a></div>
                                    </div>
                                </div>
                                {% if room.host == request.user %}
                                <div><a class="btn_edit" href="{% url 'update-room' room.id %}">Edit Room <i class="fa fa-edit text-success"></i><hr></a></div>
                                <div><a class="btn_edit" href="{% url 'delete-room' room.id %}">Delete Room <i class="fa fa-trash text-danger"></i><hr></a></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body">
                                <div class="bg-dark card mb-4">
                                    <div class="card-header">
                                        <div class="col-lg-10">
                                            <h4 class="text-capitalize">{{room.name}}</h4>
                                        </div>
                                            <span class="badge bg-success">{{room.topic}}</span>
                                            <hr>
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <i class="far fa-desc fa-file-alt mb-1"></i>
                                                    <p>Description</p> 
                                                </div>
                                                <div class="room-font text-capitalize col-lg-12 mb-3 d-flex justify-content-center">
                                                    {{room.description}}
                                                </div>
                                                <hr>
                                                
                                            </div>

                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <i class="fas fa-genre fa-gamepad mb-1"></i>
                                                    <p>Genre</p>
                                                </div>
                                                <div class="text-center">
                                                    <p class="room-font">{{room.topic}}</p>
                                                </div>
                                                <hr>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <i class="fas fa-state fa-tasks mb-1"></i>
                                                    <p>State</p>
                                                </div>
                                                <div class="text-center">
                                                    <p class="room-font">{{room.state}}</p>
                                                </div>
                                                <hr>
                                            </div>
                                            <div class="row">
                                                <div class="col-lg-12 text-center">
                                                    <i class="fas fa-participants fa-users mb-1"></i>
                                                    <p>Participants</p>
                                                </div>
                                                <div class="text-center">
                                                    <p class="room-font">{{room.participants.count}}</p>
                                                </div>
                                                <hr>
                                            </div>
                                            <div class="row">
                                                <div class="mt-3 avatar avatar--large d-flex justify-content-center">
                                                    <img src="{{user.avatar.url}}" />
                                                </div>
                                                <div class="col-lg-12 text-center">
                                                    <p>Project Owner</p>
                                                </div>
                                                <div class="text-center mb-3">
                                                    <p class="text-capitalize"><a class="room-host gradient" href="{% url 'user-profile' room.host.id %}">{{room.host}}</a></p>
                                                </div>
                                                <hr>
                                            </div>
                                    </div>
                                    {% if room_messages %}
                                    <div class="container">
                                        <div class="col-12 text-center pt-3">
                                          <h4>Chat <i class="fas fa-comment-dots"></i></h4>
                                        </div>
                                      </div>
                                    <div class="card-body">
                                        <div class="container text-white mb-3 shadow">

                                            <div class="bg-activity rounded shadow">
                                                <div>
                                                    <div class="container pt-3 text-white mt-2 mb-3 rounded">
                                                        <div class="row pb-2">
                                                        {% for message in room_messages %}
                                                        <div class="container pt-2 text-white mt-2 mb-3 rounded shadow">
                                                            <div class="row">
                                                                <p class="pt-1 text-capitalize">@{{message.user}}: {{message.body}}</p>
                                                            </div>
                                                        </div>
                                                        {% endfor %}
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                          <br>
                                          {% if request.user.is_authenticated %}
                                            <div class="form-group rounded-bottom rounded">
                                                <form method="POST" action="">
                                                    {% csrf_token %}
                                                    <div class="container py-3">
                                                        <div class="row d-flex justify-content-center">
                                                        <div class="col-md-6 col-lg-6 col-xl-6">
                                                            <div class="input-group rounded-pill">
                                                            <input name="body" class="form-control rounded-pill shadow" type="text" placeholder="Enter message here..."/>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    
                                                    </div>
                                                </form>
                                            </div>
                                            {% else %}
                                            <p>You must be logged in to send messages.</p>
                                            {% endif %}
                                            <hr>
                                            <br>
                                          </div>
                                    </div>
                                    {% endif %}
                                </div>
                        </div>
                    </div>
                </div>
                
                {% include 'base/activity_component.html' %}
            </div>
              
        </div>
    </main>
</div>
{% endblock %}
