{% extends 'main.html' %}

{% block content %}
<div id="layoutSidenav_content">
    <br>
    <main>
        <div class="container-fluid px-4">
            <div class="row">
                <div class="col-xl-8">
                    <div class="bg-dark text-white card mb-4">
                        <h3 class="text-center">{{room.name}}</h3>
                        <div class="card-header">
                            <hr>
                            <div class="d-flex justify-content-between">
                                <div class=""><a class="btn_home" href="{% url 'home' %}"><i class="fas fa-angle-left text-primary"> </i> Game Rooms</a><hr></div>
                                {% if room.host == request.user %}
                                <div><a class="btn_edit" href="{% url 'update-room' room.id %}">Edit Room <i class="fa fa-edit text-success"></i><hr></a></div>
                                <div><a class="btn_edit" href="{% url 'delete-room' room.id %}">Delete Room <i class="fa fa-trash text-danger"></i><hr></a></div>
                                {% endif %}
                            </div>
                        </div>
                        <div class="card-body"><canvas id="myAreaChart" width="100%" height="10"></canvas>
                                <div class="bg-dark card mb-4">
                                    <div class="card-header">
                                        <div class="col-lg-10">
                                            <h4>{{room.name}}</h4>
                                        </div>
                                            <span class="badge bg-success">{{room.topic}}</span>
                                            <hr>
                                            <div class="row">
                                                <div class="col-lg-4 mb-3">
                                                    Description: 
                                                    
                                                </div>
                                                <div class="col-lg-4 mb-3 d-flex justify-content-center">
                                                    {{room.description}}
                                                </div>
                                                <hr>
                                                
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    Genre: 
                                                </div>
                                                <div class="col-4 text-center">
                                                    {{room.topic}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    State: 
                                                </div>
                                                <div class="col-4 text-center">
                                                    {{room.state}}
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-4">
                                                    Participants: 
                                                </div>
                                                <div class="col-4 text-center">
                                                    {{room.participants.count}}
                                                </div>
                                            </div>
                                            <div class="col-lg-10 pt-4">
                                                <p>Host: <a class="link_host" href="{% url 'user-profile' room.host.id %}">{{room.host}}</a></p>
                                            </div>  
                                    </div>
                                    <div class="card-header">
                                        <div class="container bg-dark pt-3 text-white mt-5 mb-3 rounded shadow">
  
                                            <div class="row px-4">
                                              <div class="col-8 p-0">
                                                <h4><i class="fas fa-comment-dots"></i> Chat</h4>
                                              </div>
                                              <hr>
                                              <br>
                                            </div>
                                            <div class="row px-4 pb-4 d-flex flex-column-reverse flex-nowrap">
                                                {% for message in room_messages %}
                                                <p>@{{message.user}}: {{message.body}}</p>
                                                {% endfor %}
                                            </div>
                                          <br>
                                          <br>
                                          <hr>
                                            <div class="form-group bg-dark rounded-bottom">
                                                <form method="POST" action="">
                                                    {% csrf_token %}
                                              <input name="body" class="col-lg-6 offset-3 mt-3 rounded rounded-pill rounded-lg border-0 shadow bg-white text-dark p-3 pl-4" placeholder="Enter message here..">
                                                </form>
                                            </div>
                                            <hr>
                                            <br>
                                          </div>
                                    </div>
                                </div>
                        </div>
                    </div>
                </div>
                
                {% include 'base/activity_component.html' %}
            </div>
              
        </div>
    </main>
    <footer class="py-4 bg-dark mt-auto">
        <div class="container-fluid px-4">
            <div class="d-flex align-items-center justify-content-between small">
                <div class="text-muted">Game Room 2022 - Created by Patrik Solis</div>
                <div>
                    <a href="#">Privacy Policy</a>
                    &middot;
                    <a href="#">Terms &amp; Conditions</a>
                </div>
            </div>
        </div>
    </footer>
</div>
{% endblock %}
